In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv('data.csv')

In [10]:
df['city'] = df['city'].astype('category')
df['district'] = df['district'].astype('category')
df['neighborhood'] = df['neighborhood'].astype('category')
df['room'] = df['room'].astype('int')
df['living_room'] = df['living_room'].astype('int')
df['area'] = df['area'].astype('int')
df['age'] = df['age'].astype('int')
df['floor'] = df['floor'].astype('int')
df['price'] = df['price'].astype('int')

In [20]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8136 entries, 0 to 8135
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   city          8136 non-null   category
 1   district      8136 non-null   category
 2   neighborhood  8136 non-null   category
 3   room          8136 non-null   int32
 4   living_room   8136 non-null   int32
 5   area          8136 non-null   int32
 6   age           8136 non-null   int32
 7   floor         8136 non-null   int32
 8   price         8136 non-null   int32
dtypes: category(3), int32(6)
memory usage: 247.6 KB
None

In [19]:
df.drop(["list-view-date"], axis = 1, inplace = True)

In [28]:
columns = df.select_dtypes(include = [np.number]).columns

min_values = []
max_values = []

for column in columns:
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    
    IQR = Q3 - Q1
    
    min_value = Q1 - 1.5 * IQR
    max_value = Q3 + 1.5 * IQR
    
    min_values.append(min_value)
    max_values.append(max_value)
    
    print(f"column: {column}, min: {min_value}, max: {max_value}")

column: room, min: 0.5, max: 4.5
column: living_room, min: 1.0, max: 1.0
column: area, min: -17.5, max: 242.5
column: age, min: -20.0, max: 44.0
column: floor, min: -2.0, max: 6.0
column: price, min: -18000.0, max: 62000.0

In [29]:
for i, column in enumerate(columns):
    df = df[(df[column] >= min_values[i]) & (df[column] <= max_values[i])]

In [30]:
print(df.describe())

              room  living_room         area          age        floor  \
count  6212.000000       6212.0  6212.000000  6212.000000  6212.000000
mean      2.176272          1.0   104.669350    12.653896     2.199614
std       0.826815          0.0    39.442494    10.451565     1.589618
min       1.000000          1.0     5.000000     0.000000    -2.000000
25%       2.000000          1.0    75.000000     4.000000     1.000000
50%       2.000000          1.0   100.000000    10.000000     2.000000
75%       3.000000          1.0   130.000000    20.000000     3.000000
max       4.000000          1.0   240.000000    44.000000     6.000000

              price
count   6212.000000
mean   17900.975853
std    10467.582893
min        1.000000
25%    11000.000000
50%    15000.000000
75%    21000.000000
max    60000.000000

In [31]:
df = df[df['price'] >= 3000]

In [ ]:
print(df.describe())